<!-- PERFIL -->
<div class="row justify-content-center">
    <div id="descripcion" class="col-12">
        <img id="perfil-imagen" src="https://i.pinimg.com/736x/8a/c1/8b/8ac18b8f4663eb51e2863663e0c9a8ae.jpg"
            class="img-fluid" alt="Wallpaper Desktop">
    </div>
    <div class="position-relative row text-center blanco">
        <div class="d-flex noPadding justify-content-center">
            <br>
        </div>
    </div>
    <!-- ABOUT -->
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="text-center fs-1">
                <h3 style="color: white;" class="texto nombre">
                    <strong>Full-Stack Developer</strong>
                </h3>
            </div>
            <br>
            <div style="color: white;" class="fs-5 text-center">
                <h3 class="sobreMouse"><strong>Who am I?</strong></h3>
                <p>
                    🫡 Hi! I am Lourdes, a self-taught web developer with a passion for problem solving. I also have a
                    strong interest in music and UX/UI design, and I firmly believe that in interface design, less is
                    more.
                </p>
                <br>
                <h3 class="sobreMouse"><strong>What I do?</strong></h3>
                <p>
                    🤓 I use tools like Angular and Bootstrap to bring web pages to life, ensuring they are functional
                    and visually appealing. Furthermore, I leverage my skills as a backend developer to add dynamism to
                    my web creations.
                </p>
                <br>
                <h3 class="sobreMouse"><strong>Where I go?</strong></h3>
                <p>
                    🤩 I am committed to lifelong learning, embracing practical problem-solving, and constantly
                    enhancing my logical and design skills. My ultimate goal is to find joy and fulfillment in my
                    passions, which serve as a constant source of inspiration in my life.
                </p>
            </div>
            <hr>
        </div>
    </div>
</div>