<div id="galaxy">
    <div>
        <img id="banner-imagen" src="https://wallpaperaccess.com/full/235784.jpg" style="opacity: 75%;" alt="Banner">
    </div>
    <div id="bienvenida">
        <div #title class="title parrafo">
            <p fs-1 id="welcome" class="letter text-3d" *ngFor="let letter of letters">{{letter}}</p>
        </div>
    </div>
    <!-- LINKS -->
    <div class="position-absolute top-0 start-0">
        <a target="_blank" href="https://argentinaprograma.inti.gob.ar">
            <img id="logo" src="\assets\arg-programa.png" alt="Argentina Programa">
        </a>
    </div>
    <div class="position-absolute top-0 end-0">
        <a target="_blank" href="https://github.com/Lya1718">
            <img id="github" src="https://cdn.pixabay.com/photo/2022/01/30/13/33/github-6980894__480.png"
                alt="GitHub Icon">
        </a>
        <a target="_blank" href="mailto:ramoslouproject@gmail.com">
            <img id="gmail" src="\assets\correo.png" alt="Gmail Icon">
        </a>
    </div>
    <!-- BUTTON -->
    <div id="buton" class="position-absolute">
        <a href="https://ramos-lourdes-portfolio.web.app/#descripcion">
            <img class="buton" src="\assets\arrow-down.png" style="max-width: 50px;" id="flecha" alt="scroll down">
        </a>
    </div>
</div>